apache-airflow==3.1.5
apache-airflow-providers-amazon==9.18.1
apache-airflow-providers-postgres==6.5.1
apache-airflow-providers-samba==4.12.1
apache-airflow-providers-ssh==4.2.1
dataclasses-json==0.6.7
