apache-airflow==3.0.1
apache-airflow-providers-amazon==9.8.0
apache-airflow-providers-postgres==6.1.3
apache-airflow-providers-samba==4.10.0
apache-airflow-providers-ssh==4.0.1
dataclasses-json==0.6.7
telebot==0.0.5
